<div>
	<p><%= @post.title %></p>
	<p><%= @post.body %></p>
	<p><%= image_tag @post.image if @post.image.attached? %></p>
</div>
<%= @post.user.name%>
<h1>Comment</h1>
<div class = "append_comment">
	<% @comments.each do |comment| %>
		<p><%= comment.user.name %>:</p>
		<p><%= comment.content %></p>
		
	<% end %>
</div>	


<%= render 'comments/form' %>